.img-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .2rem .3rem;
    img{
        width: 43%;
        height: 1.8rem;
        border: 1px solid #ddd;
        padding: .2rem;
        margin-bottom: .2rem;
    }
}
