.buy{
    padding: .2rem;
    text-align: left;
    background: #fff;
    border-bottom: 1px solid #eee;
    >div{
        margin-bottom: .2rem;
        span{
            margin-right: .2rem;
            color: #999;
            vertical-align: middle;
        }
        a{
            color: #f60;
            vertical-align: middle;
        }
        img{
            margin-right: .1rem;
            width: .3rem;
            height: .3rem;
            vertical-align: middle;
        }
    }
    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            color: #F60;
        }
        .buy-btn{
            color: #fff;
            display: block;
            padding: 0 .4rem;
            height: .6rem;
            line-height: .6rem;
            text-align: center;
            background: #f60;
            border-radius: .6rem;
        }
    }
}
