.order-info{
    text-align: left;
    .top{
        padding: .3rem .2rem;  
        background: #fff; 
        border-top: 1px solid #ddd; 
        p{
            margin-top: .1rem;
            line-height: 1.6;
        }    
    }
    .item{
        input{
            font-size: .3rem !important;
        }
       span{
           display: block;
           padding: .2rem .2rem;
           font-size: .26rem;
           
       }
       .am-list-extra{
           font-size: .3rem !important;
       }
    }
    .problem{
        font-size: .28rem;
        color: #999;
        display: block;
        padding: .2rem;
        a{
            color: #f60;
        }
    }
    .getPrice{
        padding: .8rem;
        background: #fff;
        span{
            display: block;
            height: .8rem;
            line-height: .8rem;
            font-size: .3rem;
            border-radius: .8rem;
            width: 80%;
            background: #f60;
            color: #fff;
            text-align: center;
            margin: 0 auto;
            
        }
    }
    .send-you{
        display: flex;
        align-items: flex-start;
        background: #fff;
        padding: .3rem;
        .is-yes{
            display: block;
            border: 1px solid #ddd;
            padding: 0;
            width: .4rem;
            height: .4rem;
            margin-right: .3rem;
            border-radius: 50%;
        }
        p{
            flex: 1;
            color: #666;
            line-height: 1.6;
        }
    }
}
